.root {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.toolbar {
  height: 80px;
}

.title {
  align-items: center;
  display: flex;
  flex-grow: 1;
}

.titleLogo {
  margin-right: 8px;
}

.titleText {
  color: #000;
  font-size: 18px;
}

.menu {
  display: flex;
}

.menuItem {
  margin: 0 8px;
  transition: 0.2s;
  &:hover {
    opacity: 0.5;
  }
}

.sideMenu {
  padding: 0 !important;
  width: 200px;
}

.sideMenuItem {
  padding: 20px !important;
}
