.root {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.toolbar {
  height: 80px;
}

.menu {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.menuItem {
  margin: 0 8px;
}
