.link {
  display: block;
  width: 100%;
}

.card {
  display: flex;
  justify-content: center;
}

.img {
  margin-bottom: 8px;
  width: 80px;
  height: 80px;
}

.name {
  font-weight: bold;
  text-align: center;
}
