.socials {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 8px 0 0;
  padding: 0;

  &__item {
    font-size: 50px;
    margin: 8px;
  }

  &__itemLink {
    color: #000;
    transition: 0.5s;
    &:hover {
      color: #0a59b0;
    }
  }
}
