.img {
    height: 200px;
}

@media screen and (min-width:600px) {
  .img {
    height: 280px;
  }
}

@media screen and (min-width:960px) {
  .img {
    height: 300px;
  }
}

.avatarGroup {
  margin-bottom: 8px;
}

.avatarLink {
  border: 1px solid #ddd !important;
  border-radius: 50%;
}

.avatar {
  background-color: #fff;
  height: 25px !important;
  width: 25px !important;
}

.avatarImg {
  object-fit: fill !important;
}

.content {
  padding-top: 0 !important;
}

.title {
  font-size: 22px;
  margin: 7px 0;
}

.description {
  margin-bottom: 12px;
}

.githubLink {
  transition: 0.2s;
  &:hover {
    opacity: 0.5;
  }
}
