.img {
    height: 200px;
}

@media screen and (min-width:600px) {
  .img {
    height: 280px;
  }
}

@media screen and (min-width:960px) {
  .img {
    height: 300px;
  }
}

.content {
  padding-top: 0 !important;
}

.title {
  letter-spacing: 1px !important;
}

.description {
  margin-bottom: 12px;
}

.githubLink {
  transition: 0.2s;
  &:hover {
    opacity: 0.5;
  }
}
